* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
/* Shared Style */
.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;
}
.section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}
.btn-primary {
  background: #e55473;
  border-radius: 8px;
  padding: 20px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 0;
}
.btn-primary:hover {
  color: yellow;
  border: 1px solid black;
}
.container {
  margin: 128px 0px;
  padding: 0 200px;
}
.featured-galary {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
}

/* Header Related Style */
header {
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 50px 200px 0px 200px;
}
.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.banner-column > p {
  padding: 32px 0;
  width: 634px;
}
.banner-image {
  width: 635px;
}

/* Featured Section related Style */
.featured-image-galary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.featured-image-galary-column1 {
  background: rgba(167, 33, 98, 0.15);
  padding: 110px 76px 0px 76px;
}
.featured-image-galary-column2 {
  background: rgba(5, 151, 160, 0.15);
  padding: 117px 47px 50px 47px;
}
.featured-image-galary-column3 {
  background: rgba(71, 125, 17, 0.15);
  padding: 67px 75px 0px 75px;
}
.flower-links {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
}
.flower-links a {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}

/* services section Start */
.services-container {
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 85px 0;
}
.services-column {
  align-items: center;
}
.services-container img {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.services-container h6 {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  margin-top: 24px;
}

/* Discount Section Start */
.discount-container {
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0;
}
.discount-column button {
  display: block;
  margin: 0 auto;
}

/* Social Network Image Galary */
.social-media-galary-container {
  display: flex;
  justify-content: space-between;
}
.social-media-galary-container img {
  width: 342px;
  height: 396px;
}

.social-media-galary-container img:hover {
  border: 2px solid black;
  border-radius: 10px;
}

/* Latest Deals related style */
.deals-container {
  background-image: url("../images/Rectangle9.png");
  border-radius: 8px;
  border: 0;
  padding: 120px 285px;
}

#email {
  padding: 22px;
  margin-right: 15px;
  border: 0;
  width: 65%;
}
